$icon-font-path: '../fonts/';
$map-bg: #F7F7F7;
$main: #12C2F1;
$bg: #fff;
$disabled: #ddd;
$text: #333;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('#{$icon-font-path}avenir-ltstd-light.eot');
    src: url('#{$icon-font-path}avenir-ltstd-light.eot?#iefix') format('embedded-opentype'), url('#{$icon-font-path}avenir-ltstd-light.woff') format('woff'), url('#{$icon-font-path}avenir-ltstd-light.ttf') format('truetype'), url('#{$icon-font-path}avenir-ltstd-light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('#{$icon-font-path}avenir-ltstd-medium.eot');
    src: url('#{$icon-font-path}avenir-ltstd-medium.eot?#iefix') format('embedded-opentype'), url('#{$icon-font-path}avenir-ltstd-medium.woff') format('woff'), url('#{$icon-font-path}avenir-ltstd-medium.ttf') format('truetype'), url('#{$icon-font-path}avenir-ltstd-medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('#{$icon-font-path}avenir-ltstd-book.eot');
    src: url('#{$icon-font-path}avenir-ltstd-book.eot?#iefix') format('embedded-opentype'), url('#{$icon-font-path}avenir-ltstd-book.woff') format('woff'), url('#{$icon-font-path}avenir-ltstd-book.ttf') format('truetype'), url('#{$icon-font-path}avenir-ltstd-book.svg#AvenirLTStd-Book') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'AvenirLTStd85Heavy';
    src: url('#{$icon-font-path}avenirltstd-heavy.eot');
    src: url('#{$icon-font-path}avenirltstd-heavy.eot') format('embedded-opentype'), url('#{$icon-font-path}avenirltstd-heavy.woff2') format('woff2'), url('#{$icon-font-path}avenirltstd-heavy.woff') format('woff'), url('#{$icon-font-path}avenirltstd-heavy.ttf') format('truetype'), url('#{$icon-font-path}avenirltstd-heavy.svg#AvenirLTStd85Heavy') format('svg')
}

html, body {
  height: 100%;
  font-family: 'AvenirLTStd-Light';
  color: $text;
}

.title {
  top: 50px;
  width: 100%;
  font-family: 'AvenirLTStd-Medium';
  position: absolute;
  z-index: 1;
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.categories {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000001;

  @media (min-width: $screen-md-min) {
    bottom: 50px;
  }

  .btn-group {
    width: 100%;
    display: block;

    @media (min-width: $screen-md-min) {
      display: table;
      width: $screen-md;
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (min-width: $screen-lg-min) {
      width: $screen-lg;
    }

    .btn {
      border-color: $main;
      color: $main;
      background-color: $bg;
      outline: none;
      display: block;
      width: 100%;
      border-radius: 0;
      margin-left: 0;
      border-left: none;
      border-right: none;
      border-top: none;

      &.active, &:active, &:focus {
        background-color: $main;
        color: $bg;
        box-shadow: none;
      }

      &:first-child {
        border-top: 1px solid $main;
      }

      @media (min-width: $screen-md-min) {

        display: table-cell;
        width: 1%;
        border: 1px solid $main;

        &:not(:first-child) {
          border-left: 0;
        }

        &:first-child {
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;
        }

        &:last-child {
          border-bottom-right-radius: 20px;
          border-top-right-radius: 20px;
        }
      }
    }
  }
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $map-bg;
  font-family: 'AvenirLTStd-Light';

  .map__tooltip {
    z-index: 5000;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    background-color: rgba($bg, 0.85);
    border-radius: 2px;

    &:after {
      top: 100%;
      left: 50%;
      border: 5px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: rgba($bg, 0.85);
      margin-left: -5px;
    }

    .map__tooltip__title {
      color: $main;
      margin: 0;
      padding: 5px;
      border-bottom: 2px solid $main;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .map__tooltip__data {
      width: 100%;

      td {
        width: 50%;
        text-align: left;
        padding: 0 5px;
      }
    }

  }

  .leaflet-control-zoom {
    display: none;
    box-shadow: none;

    @media (min-width: $screen-md-min) {
      display: block;
    }

    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
      background-color: $bg;
      color: $main;
      border: 1px solid $main;
      width: 30px;
      height: 30px;
      display: block;
      margin-bottom: 10px;
      transition: 0.5s;
      text-decoration: none;
      border-radius: 0;
      font-family: inherit;
      font-size: inherit;

      &:hover {
        background-color: $main;
        color: $bg;
        cursor: pointer;
      }

      &.leaflet-disabled {
        pointer-events: none;
        color: $disabled;
        border-color: $disabled;
      }
    }
  }
}

div.cartodb-tooltip {
  overflow-y: visible;
  z-index: 10000001;
}

.modal-backdrop {
  z-index: 10000002;

  &.in {
    opacity: 0.3;
  }
}

.modal {
  z-index: 10000003;
}

.country-info {
  .modal-dialog {
    margin: 0;

    @media (min-width: $screen-sm-min) {
      margin: 30px auto;
    }
  }

  .modal-content {
    border-radius: 0;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    padding: 0;

    @media (min-width: $screen-md-min) {
      padding: 25px;
    }
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
    text-align: center;

    .btn {
      border-radius: 20px;
      background-color: $main;
      color: $bg;
      padding-left: 40px;
      padding-right: 40px;
      outline: 0;
    }
  }

  .close {
    font-size: 40px;
    outline: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 15px;

    @media (min-width: $screen-md-min) {

    }
  }

  .country-info__name {
    color: $main;
    text-transform: uppercase;
  }

  .country-info__currency {
    margin-left: 5px;
  }

  .nav-tabs {
    margin-bottom: 15px;

    > li {
      display: table-cell;
      width: 1%;
      margin-bottom: 0;

      > a, > a:focus, > a:active {
        text-transform: uppercase;
        border: none;
        border-bottom: 3px solid $disabled;
        color: $text;
        border-radius: 0;

        &:hover {
          background-color: transparent;
          border: none;
          border-bottom: 3px solid $main;
        }
      }

      &.active {
        > a, > a:focus, > a:active {
          color: $main;
          border: none;
          border-bottom: 3px solid $main;

          &:hover {
            border: none;
            border-bottom: 3px solid $main;
          }
        }
      }
    }
  }
  .country-info__table {
    width: 100%;

    th {
      color: $main;
      font-weight: normal;
      width: 1%;
      padding: 5px 10px 5px 0;
    }

    td {
      padding: 5px 0 5px 10px;
    }
  }

  .country-info__loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg;
    justify-content: center;
    align-items: center;

    .fa {
      color: $main;
    }
  }

  &.country-info--loading {
    .country-info__loading {
      display: flex;
    }
  }
}