<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Payment and capabilities map - Ebury's coverage">
    <meta name="author" content="Miguel Torres">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payments and capabilities map - Ebury's coverage</title>

    <link rel="icon" href="favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/cartodb.js/themes/css/cartodb.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="categories">
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn active">
          <input type="radio" name="category" class="js-category" autocomplete="off" checked value="payments"> Where Ebury can send funds
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="category" class="js-category"  autocomplete="off" value="payments_in_local_currency"> Where Ebury can send funds in local currency
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="category" class="js-category"  autocomplete="off" value="collections_in_local_currency"> Where Ebury can collect funds in local currency
        </label>
      </div>
    </div>

    <div class="js-map map"></div>

    <div class="modal fade country-info js-country-info" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-header">
            <h3 class="modal-title">
              <span class="country-info__name">{{ countryName }}</span>
              <span class="country-info__currency">{{ currencyName }} {{ currencySymbol }}</span>
            </h3>
          </div>
          <div class="modal-body">
            <!--ul class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a href="#keypoints" data-toggle="tab">Key points</a></li>
              <li role="presentation"><a href="#liquidity" data-toggle="tab">Liquidity</a></li>
            </ul-->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="keypoints">
                <table class="country-info__table">
                  <tbody>
                    <tr v-if="currencySymbol">
                      <th>Currency</th>
                      <td>{{ currencySymbol }}</td>
                    </tr>
                    <tr v-if="paymentsInLocalCurrency !== null">
                      <th>Payments</th>
                      <td>{{ paymentsInLocalCurrency ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr v-if="collectionsInLocalCurrency !== null">
                      <th>Collections</th>
                      <td>{{ collectionsInLocalCurrency ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr v-if="cutoff">
                      <th>Cut off</th>
                      <td>{{ cutoff }}</td>
                    </tr>
                    <tr v-if="valueDate">
                      <th>Value date</th>
                      <td>{{ valueDate }}</td>
                    </tr>
                  </tbody>
                </table>
                <p>{{ info }}</p>
              </div>
              <!--div role="tabpanel" class="tab-pane" id="liquidity">...</div-->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
          <div class="country-info__loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/cartodb.js/cartodb.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/bundle.js"></script>
    <!-- endbuild -->

    <script src="https://use.fontawesome.com/a0c36ef735.js"></script>
  </body>
</html>
